@using ProjectTracker.Models.Dashboard.ViewModels

@model ModifyProjectViewModel

<div id="projectForm">
    <label for="name">Name:</label>
    @Html.TextBoxFor(m => m.Name, new { id = "name" })

    <label for="status">Status:</label>
    @Html.DropDownListFor(m => m.SelectedStatus, Model.Statuses, "Select")

    <label for="stage">Stage:</label>
    @Html.DropDownListFor(m => m.SelectedStage, Model.Stages, "Select")

    <label for="comments">Comments:</label>
    @Html.TextBoxFor(m => m.Comments, new { id = "comments" })

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.Mode)
</div>

<button type="button" class="btn btn-primary" id="submitProjectBtn" mode="@Model.Mode">Submit</button>
