@using ProjectTracker.Models.Project.Models
@using ProjectTracker.Models.Project.ViewModels;

@model ProjectViewModel;

<div id="projectForm">
    <label for="name">Name:</label>
    @Html.TextBoxFor(m => m.Name, new { id = "name" })

    <label for="status">Status:</label>
    @Html.TextBoxFor(m => m.Status, new { id = "status" })

    <label for="stage">Stage:</label>
    @Html.TextBoxFor(m => m.Stage, new { id = "stage" })

    <label for="comments">Comments:</label>
    @Html.TextBoxFor(m => m.Comments, new { id = "comments" })

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Mode)
</div>

<button type="button" class="btn btn-primary" id="submitProjectBtn" mode="@Model.Mode">Submit</button>
